.imageholder {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  /* display: block; */
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imageholder:hover .image {
  opacity: 0.3;
}

.imageholder:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 16px 32px;
  border-radius: 8px;
}

/* <div class="container">
  <img src="img_avatar.png" alt="Avatar" class="image" style="width:100%">
  <div class="middle">
    <div class="text">John Doe</div>
  </div>
</div>
*/
